select {
    margin-right: 0.2rem;
}

#filter{
    margin-top: 0.5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}