body {
    background-color: #284d81;
}
.header {
    background-color: #0055cc;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.home-blurb {
    padding: 1.5rem;
    margin: 1.5rem;
}

.blurb{
    margin-top:1.5rem;
    padding: 1.5rem;
}

.boxy {
    background-color: #fff;
    border-radius: 0.3rem;
}

#filter-options{
    margin-top: 1.2rem;
    padding: 2rem;
}

.filter-columns{
    background-color: #0055cc;
    padding: 1%;
    border-radius: 0.3rem;
}

.filter-columns label{
    color: #fff;
}

img{
    border-radius: 0.3rem;
}

.shadowed-block {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.circle-img{
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
}

.enabled-button {
    user-select: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #0055cc;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    margin-right: 0.25rem;
}

.enabled-button:hover {
    background-color: #006aff;
    color: #fff;
}

.disabled-button {
    user-select: none;
    cursor: not-allowed;
    display: inline-block;
    padding: 10px 20px;
    border-color: #ccc;
    background-color: #ccc;
    color: #667;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    margin-right: 0.25rem;
}

.button-container{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}