<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="header">
        <h1>Airline Filter</h1>
        <p>Choose a Way To Filter Your Search</p>
    </div>
    <nav class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text">Airline Safety Reviews</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="#">Airline Info</a></li>
                <li><a href="/about-us">About Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="grid-container">
        <div id="filter-options" class="grid-x grid-margin-x grid-margin-y boxy">
            <div class="filter-columns cell small-12 large-4">
                <input type="radio" id="airline"><label id="radio-label1" for="airline">Airline</label>
                <div id="airline-filter"></div>
            </div>
            <div class="filter-columns cell small-12 large-4">
                <input type="radio" id="ask">
                <label id="radio-label2" for="ask">ASK / Week
                    <span id="ask-tip" data-tooltip class="top" tabindex="1" title="Available seat kilometers flown every week">
                        <a href="https://airlinegeeks.com/2015/12/28/airline-metrics-available-seat-kilometers/" target="_blank">&#x2754;</a>
                    </span>
                </label>
                <div id="ask-filter">
                    <div id="ask-grid" class="grid-x">
                        <div id="ask-select" class="cell small-2"></div>
                        <div id="ask-input" class="cell small-10"></div>
                    </div>
                </div>
            </div>
            <div class="filter-columns cell small-12 large-4">
                <input type="radio" id="date"><label id="radio-label3" for="date">Date Range</label>
                <div id="date-filter"></div>
            </div>
        </div>
    </div>



    <script>
        let askTip = document.getElementById("ask-tip");
        let tipClicked=false;
        let radio1 = document.getElementById("radio-label1");
        let radio2 = document.getElementById("radio-label2");
        let radio3 = document.getElementById("radio-label3");
        let radioData1 = document.getElementById("airline");
        let radioData2 = document.getElementById("ask");
        let radioData3 = document.getElementById("date");

        let currentInput;
        
        function check(){
            radioData1.checked = false;
            radioData2.checked = false;
            radioData3.checked = false;
            removeChildren([askFilter, askSelect, askInput]);
            removeChildren([dateFilter, airlineFilter]);
        }
        window.onload = ()=>{
            radioData1.checked = false;
            radioData2.checked = false;
            radioData3.checked = false;
        };
        radio1.addEventListener('mouseup', check);
        radio2.addEventListener('mouseup', check);
        radio3.addEventListener('mouseup', check);
        radioData1.addEventListener('mouseup', check);
        radioData2.addEventListener('mouseup', check);
        radioData3.addEventListener('mouseup', check);

        radio1.addEventListener('mouseup', filterAirline);
        radioData1.addEventListener('mouseup', filterAirline);

        radio2.addEventListener('mouseup', filterAsk);
        radioData2.addEventListener('mouseup', filterAsk);

        radio3.addEventListener('mouseup', filterDate);
        radioData3.addEventListener('mouseup', filterDate);

        askTip.addEventListener('mouseup', ()=>{
            tipClicked = true;
        });

        //Airline popup buttons
        let airlineFilter = document.getElementById('airline-filter');
        function filterAirline(){
            let form = makeElement('form', {onsubmit:sumbitAirline});
            let select = makeElement('select', {id: 'airline-names'});
            let hint = makeElement('option', {value:'', text:'Select an Airline', disabled:true, selected: true});
            let submit = makeElement('input', {type: 'submit'});
            
            link(select, [hint,
                //$$OPTIONS$$
            ]);
            link(form, [select, submit]);
            airlineFilter.appendChild(form);
            
        }

        //ASK popup buttons
        let askFilter = document.getElementById('ask-filter');
        let askGrid = document.getElementById('ask-grid');
        let askSelect = document.getElementById('ask-select');
        let askInput = document.getElementById('ask-input');
        function filterAsk(){
            if(tipClicked){
                tipClicked=false;
                return;
            }
            let form = makeElement('form', {onsubmit:sumbitASK});
            let select = makeElement('select', {id: 'EQ'});
            let eq = makeElement('option', {value:'eq', text:'='});
            let gt = makeElement('option', {value:'gt', text:'>'});
            let lt = makeElement('option', {value:'lt', text:'<'});
            let gte = makeElement('option', {value:'gte', text:'≥'});
            let lte = makeElement('option', {value:'lte', text:'≤'});
            let numInput = makeElement('input', {id: 'km-num', type: 'number', min: '0'});
            let submit = makeElement('input', {type: 'submit'});
            currentInput = numInput;
            link(select, [eq, gt, lt, gte, lte]);
            askSelect.appendChild(select);
            askInput.appendChild(numInput);
            link(askGrid, [askSelect, askInput]);
            link(form, [askGrid, submit]);
            askFilter.appendChild(form);
        }
        
        //Date range popup buttons
        let dateFilter = document.getElementById('date-filter');
        function filterDate(){
            let form = makeElement('form', {onsubmit:sumbitDate});
            let select = makeElement('select', {id: 'date-range'});
            let hint = makeElement('option', {value:'', text:'Select a Date Range', disabled:true, selected: true});
            let y8599 = makeElement('option', {value:'85_99', text:'1985-1999'});
            let y0014 = makeElement('option', {value:'00_14', text:'2000-2014'});
            let submit = makeElement('input', {type: 'submit'});
            
            link(select, [hint, y8599, y0014]);
            link(form, [select, submit]);
            dateFilter.appendChild(form);
        }

        function makeElement(type, attributes){
            let element = document.createElement(type);
            if(attributes==null){
                return element;
            }
            let attributesList = Object.keys(attributes);
            attributesList.forEach(attr => {
                let val = attributes[attr];
                element[attr] = val;
            });
            return element;
        }

        function removeChildren(parents){
            parents.forEach(parent => {
                children = parent.children;
                for(let i=0; i<children.length; i++){
                    parent.removeChild(children[i]);
                }
            });
        }

        function link(parent, children){
            children.forEach(child => {
                parent.appendChild(child);
            });
        }

        function sumbitAirline(){
            let submitVal = document.getElementById('airline-names').value;
            // let firstLetter = submitVal[0].toUpperCase();
            // let otherLetters = submitVal[1:];
            // submitVal = firstLetter+''+submitVal[1:10];
            // console.log(submitVal);
            if(submitVal == ''){
                alert('PLEASE SELECT AN AIRLINE');
                return;
            }
            //have this redirect to the id
            window.location.replace('/airline/'+submitVal+"/1");
            return false;
        }
        function sumbitASK(){
            let equality = document.getElementById('EQ').value;
            let num = document.getElementById('km-num').value;
            if(num == ''){
                alert('TEXT FIELD CANNOT BE EMPTY');
                return;
            }
            window.location.replace('/km/'+equality+"/"+num+"/1");
            return false;
        }
        function sumbitDate(){
            let submitVal = document.getElementById('date-range').value;
            if(submitVal == ''){
                alert('PLEASE SELECT A DATE');
                return;
            }
            // window.location.replace('https://google.com');
            return false;
        }

    </script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>
</body>
</html>