<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="icon" type="image/x-icon" href="/img/Airline_Safety_Logo.ico">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div class="header">
    <h1>404</h1>
    <h2>Whoops!</h2>
</div>

<div class="top-bar"></div>

<div class="blurb boxy grid-container">
    <img style="height: 12rem;" class="center" src="/img/404.png" alt="">
    <p style="text-align: center; font-size: 1.3rem; padding-top: 0.5rem;">
        $$ERROR$$
    </p>
      
</div>



<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.js"></script>
<script type="application/javascript">
    $(document).foundation();
</script>

</body>
</html>